body {
    background-color: black;
}

#over {
    border: solid 2px red;
    outline:solid 2px black;
    border-radius: 3px;
    background-color: black;
    padding: 5px;
    display: block;
    width: 150px;
    position: absolute;
    top: 50%;
    right:-20px;
    color: red;
}

img{
    border: solid 2px red;
    width: 200px;
    height:auto;
}

.childbox {
    position: relative;
    width: 200px;
    display: flex;
    flex-flow: column;
    justify-content:center;
    margin: auto;
}

span{
    display:block;
}

button {
    background-color: black;
    color: red;
    border: solid 2px red;
    padding: 2px;
}

button:active{
    background-color: red;
    color: black;
}

.donate {
    display: flex;
    flex-direction:column;
    width: fit-content;
    color: red;
    margin: auto;
    margin-bottom: 50px;
}

#donate-box{
    position: fixed;
    top: 100px;
    left: 35%;
    border: solid 2px red;
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 200px;
    color: red;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
 .form-element{
     display: flex;
     flex-direction: row;
 }

 .number {
     width:100%;
 }

 .small {
     width: 30%;
 }

 .donatebutton {
     margin-top: 50px;
 }