body, button, input[type=text] {
    background-color: black;
    font-family: Courier, monospace;
    color: red;
}

h1 {
    text-align: center;
    padding:150px;
}

.stroka p {
    font-size: 20px;
}

button {
    margin: 5px;
}

input[type=text] {
    border: 1px solid red;
    color: white;
}

input[type=text], textarea{
    outline: none;
}

.stroka {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: solid 2px red;
    width: fit-content;
    padding: 20px;
}

button {
    border: 1px solid red;
    margin-top: 10px
}

