.paskha {   
    width: auto;
    height: 450px;
    max-width: 100%;
}

.image {
    display:block;
    margin: auto;
    width: fit-content;
    border:solid 1px black;
}

p{
    color:antiquewhite;
    width: 500px;
    margin: 20px;
    text-align: center;
}

.text {
    border: solid 2px #a48a6e;
    border-radius: 3px;
    background-color: #a48a6e;
}

.container {
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content:center;
    align-items: center;
    width: 45%;
    margin: auto;
    margin-top: 50px;
    gap: 100px;
}

.knopka{
    display: flex;
    align-items: center;
    flex-direction:column;
    width:150px;
    border:solid 1px white;
}

@font-face {
    font-family: 'Beer money';
    src: local('beer money'), local('beermoney'), url('beermoney.woff2') format('woff2'), url('beermoney.woff') format('woff'), url('beermoney.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

#next {
    border: none;
    font-family: 'Beer money';
    font-size: 50px;
}

.img{
    display: block;
    width: 150px;
}